


body {
    margin: 25px;
    background-color: gray;
}

#content{
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    } 

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}    